# Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

dataframe=pd.DataFrame('dict')
dataframe.head(5) #first five rows
dataframe.tail(5) #last five rows
dataframe['columnname'] #return a series object
dataframe[['column1',column2',column3']] #return a dataframe
dataframe['column1'][dataframe['column2']=='Delhi' & dataframe['column2'] == 'male']
& and
| or

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
data = pd.read_csv('chipotle.csv')

In [4]:
data.shape

(4622, 5)

In [7]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
data.index

RangeIndex(start=0, stop=4622, step=1)

### Step 4. See the first 10 entries

In [ ]:
data.head(10)

### Step 5. What is the number of observations in the dataset?

In [37]:
data.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [38]:
data.shape[1]

5

### Step 7. Print the name of all the columns.

In [ ]:
data.columns

### Step 8. How is the dataset indexed?

In [17]:
data.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
data['item_name'].value_counts()

### Step 10. For the most-ordered item, how many items it was ordered?

In [12]:
data['quantity'][data['item_name'] == 'Chicken Bowl'].sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [14]:
data['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [20]:
data['order_id'].sum()

4285772

### Step 13. Turn the item price into a float

In [21]:
def price_converter(x):
    x=x.strip('$')
    x=float(x)
    return x

In [22]:
data['item_price'] = data['item_price'].apply(price_converter) #apply can ve used only oon single series

In [23]:
data['item_price'].head(5)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [31]:
revenue=data['item_price'].sum()

### Step 15. How many orders were made in the period?

In [32]:
orders=data['order_id'].count()

### Step 16. What is the average revenue amount per order?

In [33]:
revenue/orders

7.464335785374297

### Step 17. How many different items are sold?

In [34]:
data['item_name'].nunique()       #like count distinct

50